@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
}
h1{
  font-family: 'Handjet', sans-serif;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.body{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto ;
  grid-template-areas: 
  'header header'
  'search search'
  'error error'
  'main main'
  'grid2 grid3'
  'grid4 grid5'
  'grid6 grid7'
  ;
  gap: 10px;
  
  background-color: whitesmoke;
  padding: 30px;
  max-height: 100vh;
}
.body > div{
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
}
.header {
  grid-area: header; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  grid-area: search;

}
.search input{
  padding: 10px;
  width: 70%;
  border: 3px solid black;
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
  font-size: 20px;
}
.search button{
  padding:10px;
  border: 3px solid black;
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px ;
  font-size: 20px;
}
/*changes*/

.layer1{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: main;
}
.grid1left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid2{
  grid-template-areas: grid2;
}
.grid3{
  grid-template-areas: grid3;
}
.grid4{
  grid-template-areas: grid4;
}
.grid5{
  grid-template-areas: grid5;
}
.grid6{
  grid-template-areas: grid6;
}
.grid7{
  grid-template-areas: grid7;
}

.error-message {
  color: red;
  
  grid-area:error ;
  
}